a {
    text-decoration: none;
}

p {
    line-height: 25px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}

code {
    display: block;
    padding-inline-start: 1em;
    padding-inline-end: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-family: monospace;
    color: #0f0f0f;
}

div {
    display: block;
}

.affiliation {
    font-size: 22px;
}

.title {
    text-align: center;
}

.main-figure {
    text-align: center;
}

.content {
    text-align: justify;
    box-shadow: 0 0.1em 0.01em 0 rgba(0,0,0,0.1);
    border-radius: 1.5em;
    background-color: #f9f9f9;
    font-family: 'Google Sans', sans-serif;
    padding: 0.5rem 0.5rem;
}

.links {
    text-align: center;
}

#authors {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.25em;
    font-weight: normal;
    text-decoration: none !important;
}


#bibtex {
    text-align: center;
    margin-block-start: 0.83em;
    margin-bottom: 20px;
    font-size: 20px;
}


a.btn {
    background-color: #f0f0f0;
    border-radius: 1em;
    box-shadow: 0 0.1em 0.1em 0 rgba(0,0,0,0.1);
    cursor: pointer;
}

.publication-award {
    font-weight: 500;
    text-align: center;
}

img {
    width: 70%;
    border-radius: 2.5em;
}



