
body {
    max-width: 1000px;
    margin: 2em auto;
    text-align: justify;
    background-color: #ffffff;

}
.table {
    text-align: center;   
}

div.content {
    margin: 1em auto
}

a {
    text-decoration: none;
    font-size: 1.25em;
    text-align: center;

}

#authors {
    font-size: 1.25em;
}

code {
    display: block;
    padding-inline-start: 1em;
    padding-inline-end: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-family: monospace;
    color: #0f0f0f;
}

.title {
    text-align: center;
}

.main-figure {
    text-align: center;
}

.content {
    text-align: justify;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    background-color: #f0f0f0;
    font-family: 'Google Sans', sans-serif;
    padding: 1em 2em;
}

#bibtex {
    text-align: center;
    margin-block-start: 0.83em;
    margin-bottom: 20px;
    font-size: 20px;
}

.publication-award {
    text-align: center;
    color: #3d85c6ff;
}

img {
    width: 70%;
    border-radius: 2em;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.text-center {
    text-align: center;
}